 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>PGP Encryption</title>
    <style>
        #encrypted-output {
            display: none;
        }
    </style>
</head>
<body>

    <h1>PGP Encryption </h1>
    <form action="#" th:action="@{/encrypt}" method="get">
        <label for="payload">Enter the payload to encrypt:</label>
        <input type="text" id="payload" name="payload" th:value="${payload}"/>
        <button type="submit" onclick="document.getElementById('encrypted-output').style.display = 'block'; return false;">Submit</button>
    </form>
    <div id="encrypted-output">
        <p th:text="'Encrypted Output: ' + ${encryptedString}"></p>
    </div>
</body>
</html>

